/* app global css */
.wxl{
    width: 100%;
}

.wlg{
    width: 75%;
}

.wmd{
    width: 50%;
}

.wsm{
    width: 25%;
}

.wxs{
    width: 10%;
}

.hxl{
    height: 100%;
}

.hlg{
    height: 75%;
}

.hmd{
    height: 50%;
}

.hsm{
    height: 25%;
}

.hxs{
    height: 10%;
}

.wxls{
    width: 90%
}

.wlgs{
    width: 65%
}

.wmds{
    width: 40%
}

.wsms{
    width: 15%
}

.hxls{
    height: 90%;
}

.hlgs{
    height: 65%;
}

.hmds{
    height: 40%;
}

.hsms{
    height: 15%;
}

.wsmx{
    width: 35%;
}

.hsmx{
    height: 35%;
}

.wmdx{
    width: 60%;
}

.hmdx{
    height: 60%;
}

.wlgx{
    width: 85%;
}

.hlgx{
    height: 85%;
}

.w30{
    width: 30%;
}





